    @font-face {
      font-family: "Gotham Narrow";
        src: local('Gotham Narrow'),
        url("../fonts/GothamNarrowBold.otf")
    }


        @font-face {
      font-family: "Gotham Narrow Book";
        src: local('Gotham Narrow Book"'),
        url("../fonts/GothamNarrow-Book.otf")
    }
    html {
        background-color: #fff;
        font-family: "Gotham Narrow";
    }
    #capture {
    }
    #jobTitle {
        font-family: "Gotham Narrow";
        word-wrap: break-word;
        padding-left: 70px;
        line-height: 29px;
        max-width: 270px;
        max-height: 63px;
        font-size: 30px;
        color: #002776;
        text-transform: uppercase;
        margin-top: 70px;
        /*overflow: auto;*/
        overflow: -moz-scrollbars-none;
        overflow: hidden;

    }
    #jobLocation {
        font-family: "Gotham Narrow";
        padding-left: 70px;
        max-width: 270px;
        max-height: 60px;
        font-size: 24px;
        color: #039FDA;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        overflow: hidden;

    }

    #jobDescription {
        font-family: "Gotham Narrow Book";
        font-size: 18px;
        padding-top: 10px;
        padding-left: 70px;
        max-width: 270px;
        height: 200px;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        overflow: hidden;

    }

    #jobEmail {
        padding-top: 15px;
        padding-left: 70px;
        padding-bottom: 5px;
        font-family: "Gotham Narrow";
        font-weight: bold;
        font-size: 19px;
        max-width: 270px;
        height: 44px;
        max-height: 44px;
        overflow: auto;
        overflow: -moz-scrollbars-none;
        overflow: hidden;

    }

    .job-ga-link-wrapper {
        padding-top: 10px;
        color: #002776;
        font-weight: bold;
    }
    .wrapper {
        /*{#position: fixed;#}*/
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*{#button#}*/
        .fill:hover, .fill:focus {
         box-shadow: inset 0 0 0 2em var(--hover);
    }
    .pulse:hover, .pulse:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    }
    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 var(--hover);
    }
    }
 .close:hover, .close:focus {
	 box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
 .raise:hover, .raise:focus {
	 box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	 transform: translateY(-0.25em);
}
 .up:hover, .up:focus {
	 box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
 .slide:hover, .slide:focus {
	 box-shadow: inset 6.5em 0 0 0 var(--hover);
}
 .offset {
	 box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
 .offset:hover, .offset:focus {
	 box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
 .fill {
	 --color: #009FDA;
	 --hover: #009FDA;
}
 button {
	 color: var(--color);
	 transition: 0.25s;
}
 button:hover, button:focus {
     border-color: var(--hover);
     color: #fff;
 }
 button {
	 background: none;
	 border: 2px solid;
	 font: inherit;
	 line-height: 1;
	 margin: 0.5em;
	 padding: 1em 2em;
}
 h1 {
	 font-weight: 400;
}
 code {
	 color: #e4cb58;
	 font: inherit;
}

.text {
	 transition: background-size 0.4s ease;
	 background: linear-gradient(to bottom, transparent 62%, #e98300 0) center center/0% 75% no-repeat;
	 font-size: 3rem;
	 cursor: pointer;
    	 background-size: 50% 100%;
}
.form__group {
	 position: relative;
	 padding: 15px 0 0;
	 margin-top: 10px;
	 width: 50%;
}
 .form__field {
	 font-family: inherit;
	 width: 100%;
	 border: 0;
	 border-bottom: 2px solid #009FDA;
	 outline: 0;
	 font-size: 1.3rem;
	 color: #009FDA;
	 padding: 7px 0;
	 background: transparent;
	 transition: border-color 0.2s;
}
 .form__field::placeholder {
	 color: transparent;
}
 .form__field:placeholder-shown ~ .form__label {
	 font-size: 1.3rem;
	 cursor: text;
	 top: 20px;
}
 .form__label {
	 position: absolute;
	 top: 0;
	 display: block;
	 transition: 0.2s;
	 font-size: 1rem;
	 color: #009FDA;
}
 .form__field:focus {
	 padding-bottom: 6px;
	 font-weight: 700;
	 border-width: 3px;
	 border-image: linear-gradient(to right, #009FDA, #CCECF8);
	 border-image-slice: 1;
}
 .form__field:focus ~ .form__label {
	 position: absolute;
	 top: 0;
	 display: block;
	 transition: 0.2s;
	 font-size: 1rem;
	 color: #009FDA;
	 font-weight: 700;


}
/* reset input */
 .form__field:required, .form__field:invalid {
	 box-shadow: none;
}



    .icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.step-back {
  background: #009FDA;
  color: white;
}
.alert {
display: none;}

@media only screen and (max-width: 1000px) {
.wrapper {
    display: none;
}
            .alert {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
    @media only screen and (max-height: 700px) {
.wrapper {
    display: none;
}
            .alert {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
